{% macro css_file(filename) %}
    <link href="{{ url_for('static',filename=filename) }}" rel="stylesheet">
{% endmacro %}

{% macro js_file(filename) %}
    <script src="{{ url_for('static',filename=filename) }}"></script>
{% endmacro %}

{% macro render_pagination(pagination, endpoint, kwargs) %}
    <div>显示第{{ (pagination.page - 1) * pagination.per_page + 1 }}
        - {{ pagination.page * pagination.per_page }}, 共 {{ pagination.total }} 项.
    </div>
    <div class="pull-right">
        <ul class="pagination">

            {% if pagination.has_prev %}
                <li class="paginate_button disabled">
                    <a href="{{ url_for(endpoint, p=pagination.prev_num, l=pagination.per_page, **kwargs) }}"> 前一页 </a>
                </li>
            {% else %}
                <li class="paginate_button disabled">
                    <a> 前一页 </a>
                </li>
            {% endif %}

            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="paginate_button">
                            <a href="{{ url_for(endpoint, p=page, l=pagination.per_page, **kwargs) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="paginate_button disabled">
                            <a href="#">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="paginate_button disabled">
                        <span class="ellipsis">…</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li class="paginate_button">
                    <a href="{{ url_for(endpoint, p=pagination.next_num, l=pagination.per_page, **kwargs) }}"> 后一页 </a>
                </li>
            {% else %}
                <li class="paginate_button disabled">
                    <a> 后一页 </a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endmacro %}

{% macro table_select(id) %}
    <td class="table_select_cell">
        {% if id == "all" %}
            <input type='checkbox' class="table_select_all">
        {% else %}
            <input type="checkbox" class="table_select_id" value="{{ id }}">
        {% endif %}
    </td>
{% endmacro %}

{% macro confirm_dialog(id, title,content) %}
    <div id="{{ id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ content | safe }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
