{% from "admin/base/html_utils.html" import render_pagination %}

{% macro channelOpBtn(channel) %}
    {# 房间封禁操作 #}
    {% if channel.is_banned %}
        <button class="btn btn-xs btn-primary btn-rounded channel-enable" type="button"
                data-channel-name="{{ channel.title }}"
                data-channel-id={{ channel.id }}
        >
            <i class="fa fa-unlock"></i>
            <span class="bold">解禁</span>
        </button>
    {% elif channel.is_closed or channel.is_new %}
    {% else %}
        <button class="btn btn-xs btn-danger btn-rounded channel-disable" type="button"
                data-channel-name="{{ channel.title }}"
                data-channel-id={{ channel.id }}
        >
            <i class="fa fa-ban"></i>
            <span class="bold">封禁</span>
        </button>
    {% endif %}
{% endmacro %}

{% macro channels_table(channels, endpoint) %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>频道状态</th>
                <th>频道标题</th>
                <th>直播人</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>投诉</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            {% for channel in channels.items %}
                <tr data-expanded="true">
                    <td>
                        <a href="{{ url_for('admin.channel_detail', channel_id=channel.id ) }}"
                           class="label label-success btn-xs">{{ channel.id }}</a>
                    </td>
                    <td data-status="{{ channel.status }}"></td>
                    <td>{{ channel.title }}</td>
                    <td>
                        {% if kwargs['user_link'] %}
                            <a href="{{ url_for('admin.user_detail', user_id=channel.owner.id) }}"
                               class="label label-success">
                                {{ channel.owner.nickname }}
                            </a>
                        {% else %}
                            {{ channel.owner.nickname }}
                        {% endif %}
                    </td>
                    <td>{{ channel.started_at }}</td>
                    <td>{{ channel.stopped_at if channel.stopped_at else '未结束' }}</td>
                    <td>{{ channel.complaints.count() }}</td>
                    <td>{{ channelOpBtn(channel) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ render_pagination(channels, endpoint, **kwargs) }}
    </div>

{% endmacro %}