{% extends 'admin/base/base_dashboard.html' %}
{% import 'admin/channel/helper.html' as helper %}

{% block js %}
    {{ js_file('js/admin/channel.js') }}
{% endblock %}

{% block heading_text %}频道管理{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>
        <a href="{{ url_for('admin.channel_index') }}">频道</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="m-b-md pull-right">
                <a href="{{ url_for('admin.thumbnail_index') }}"
                   class="btn btn-primary"><i class="fa fa-image"></i> 背景图管理</a>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>频道列表</h5>
                    <div class="pull-right">
                        {# 过滤器 #}
                        {% if filter=='publishing' %}
                            <a href="{{ url_for('admin.channel_index') }}" class="btn btn-success btn-xs">
                                <i class="fa fa-eye"></i> 查看全部</a>
                        {% else %}
                            <a href="{{ url_for('admin.channel_index',filter='publishing') }}"
                               class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 只看直播中</a>
                        {% endif %}
                    </div>
                </div>
                <div class="ibox-content">
                    {{ helper.channels_table(channels,'admin.channel_index', user_link=True, filter=filter) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}