{% extends 'admin/base/base_dashboard.html' %}

{% block js %}
    <script>
        $(function () {
            var initChannelStatus = function () {
                var channelStatus = {
                    '0': ['新建', 'badge badge-info'],
                    '1': ['直播中', 'badge badge-success'],
                    '2': ['直播结束', 'badge badge-warning'],
                    '3': ['关闭', 'badge'],
                    '4': ['管理员封禁', 'badge badge-danger']
                };

                $('td[data-status]').each(function (i, e) {
                    var status = $(e).data('status');
                    var statusLabel = $('<span/>', {
                        text: channelStatus[status][0],
                        'class': channelStatus[status][1]
                    });
                    $(e).append(statusLabel);
                });
            };
            initChannelStatus();

            var initOpBtn = function () {

                $('.channel-block').click(function () {
                    var channelId = $(this).data('channel-id');
                    var url = '/admin/channels/' + channelId + '/block';
                    WarningSwal('确认封禁聊天室"' + $(this).data('channel-name') + '"吗?', function () {
                        var success = false;
                        $.post(url, function (data, status, xhr) {
                            if (xhr.code = 200) {
                                success = true
                            }
                        }).complete(function () {
                            if (success) {
                                SuccessSwal('封禁成功!');
                                setTimeout('location.reload()', 3000);
                            } else {
                                FailedSwal('封禁失败!');
                            }
                        });


                    });
                });

                $('.channel-release').click(function () {
                    var channelId = $(this).data('channel-id');
                    var url = '/admin/channels/' + channelId + '/release';
                    WarningSwal('确认解禁聊天室"' + $(this).data('channel-name') + '"吗?', function () {
                        var success = false;
                        $.post(url, function (data, status, xhr) {
                            if (xhr.code = 200) {
                                success = true
                            }
                        }).complete(function () {
                            if (success) {
                                SuccessSwal('解禁成功!');
                                setTimeout('location.reload()', 3000);
                            } else {
                                FailedSwal('解禁失败!');
                            }
                        });
                    });
                });
            };
            initOpBtn();

        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>频道列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class=" table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>状态</th>
                                <th>频道标题</th>
                                <th>直播人</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for channel in channels.items %}
                                <tr data-expanded="true">
                                    <td>{{ channel.id }}</td>
                                    <td data-status="{{ channel.status }}"></td>
                                    <td>{{ channel.title }}</td>
                                    <td>{{ channel.owner.nickname }}</td>
                                    <td>{{ channel.started_at }}</td>
                                    <td>{{ channel.stopped_at if channel.stopped_at else '未结束' }}</td>
                                    <td>
                                        {% if channel.is_banned %}
                                            <button class="btn btn-xs btn-primary channel-release" type="button"
                                                    data-channel-name="{{ channel.title }}"
                                                    data-channel-id={{ channel.id }}
                                            >
                                                <i class="fa fa-check"></i>
                                                <span class="bold">解禁</span>
                                            </button>
                                        {% elif channel.is_closed or channel.is_new %}
                                        {% else %}
                                            <button class="btn btn-xs btn-danger channel-block" type="button"
                                                    data-channel-name="{{ channel.title }}"
                                                    data-channel-id={{ channel.id }}
                                            >
                                                <i class="fa fa-times"></i>
                                                <span class="bold">封禁</span>
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ render_pagination(channels, 'admin.channel_index') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}