{% extends 'base.html' %}

{% block css %}
    <style>
        body {
            background-color: #272F3E;
        }

        .oauth-area {
            height: 150px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            text-align: center;
        }

        .oauth-area .oauth-text {
            margin-top: 60px;
        }

        .oauth-area .oauth-left {
            width: 64px;
        }

        .oauth-area .oauth-line {
            width: 120px;
            margin: 0 24px;
        }

        .oauth-area .oauth-right {
            width: 64px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="oauth-area">
        <div>
            <img class="oauth-left" src={% block oauth-left %}"/static/images/github_logo.png"{% endblock %}>
            <img class="oauth-line" src="/static/images/line.png">
            <img class="oauth-right" src="/static/images/logo_techshow.png">
        </div>
        <div class="oauth-text">
            <p class="h5">获取授权中, 请您耐心等待 5 秒钟</p>
        </div>

    </div>
{% endblock %}